* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@100;400;500;700&display=swap');

body {
    margin: 0px;

}

/*********************** Header **************************/
.descuento {
    background-color: #D1891C;
    padding: 5px 0px 5px 10px;
    font-weight: bold;
}

.descuento span {
    font-size: 15px;
}

header {
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
}

.titulo {
    height: 101px;
    padding-top: 5px;
    padding-left: 28px;
    background-color: #00669F;
}

.titulo h1 {
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
}
.menu{
    background-color: #001D2D;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    margin: 0px;
}
.menu li{
    margin:5px 50px 5px 0px;
    font-size: 16px;
    list-style: none;
}
.menu :link{
    color: #FFFFFF;
    text-decoration: none;
}
.menu :visited{
    color: #FFFFFF;
    text-decoration: none;
}

/*********************** Main*****************************/
/* contenedor de tarjetas*/
.cards {
    font-family: 'Roboto', sans-serif;
    margin-top: 154px; 
    background-color: #FFFFFF;
    margin-bottom: 151px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*tarjetas*/
article {
    align-items: center;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    min-width: 350px;
    width: 20%;
    padding-bottom: 25px;
}

/*Header de la tarjeta*/
article div {
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
    height: 193px;
    margin-bottom: 74px;
    position: relative;
    width: 100%;
}

/*Fondo de cada Header de tarjeta*/
.fondo1 {
    background-image: url("../img/fondo-batman.png");
}

.fondo2 {
    background-image: url("../img/fondo-mmaravilla.png");
}

.fondo3 {
    background-image: url("../img/fondo-superman.png");
}

.fondo4 {
    background-image: url("../img/fondo-hearly.png");
}

/*Foto del heroe*/
.foto {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    top: 130px;
    left: calc(50% - 70px);
}

/*icono like*/
.like {
    position: absolute;
    width: 30px;
    height: 26.25px;
    top: 21px;
    left: 21px;
}

/*main de la tarjeta (titulo, parrafo y boton*/
article h2 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

article p {
    color: #333333;
    margin: 16px;
    font-size: 1rem;
    height: 150px;
}

article button {
    text-align: center;
    font-size: 15px;
    width: 128.78px;
    height: 48.52px;
    background-color: #00669F;
    color: #F3F3F3;
    border-style: none;
    /*margin-bottom: 25px;*/
    cursor: pointer;
}
article button:hover{
    box-shadow: 0 4px 16px #00669F;
    transition: all 0.2s ease;
}

.btn-plus {
    background-color: #00669F;
    border-radius: 50%;
    bottom: 51px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2.5rem;
    height: 60px;
    line-height: 60px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}
.btn-plus:active{
    background-color: #001D2D;
}
.btn-plus:hover{
    box-shadow: 0 4px 16px #00669F;
    transition: all 0.2s ease;
}
/*********************** Main Form.html*****************************/
main {
    align-items: center;
    display: flex;
    justify-content: center;
}
/*********Contenedor del Formulario******************/
.formcontainer {
    background-color: #00669F;
    border-radius: 49px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    color: #FBFFFD;
    font-family: 'Inter', sans-serif;
    margin: 40px 0px;
    padding: 0px 80px 18px 80px;
    width: 65vw;
}
.formcontainer form {
    display: flex;
    flex-direction: column;
}
/****************** Titulo del formulario**********************/

.formtitle {
    text-align: center;
}
.formtitle p{
    margin: 0px 0px 10px 0px;
}

/****************** Estilos Grupos de Inputs*******************/
.grupos {
    display: flex;
    width: 100%;
}
.formgrupo3{
    height: 240px;
}
.grupos div{
    width: 50%;
}
#foto{
 line-height: 60px;
}

#name,#especie,#date {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 95%;
}
#descripcion{
    background: #FFFFFF;
    border-radius: 10px;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    height: 220px;
}
#foto{
    border-radius: 5px;
}
#descripcion{
    padding: 5px;
    width: 95%;
}
.checkcontainer div{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.formcontainer ul{
    list-style: none;
    padding-left: 0px;
}
.formcontainer button{
    background: #1CD1B0;
    border-radius: 15px;
    cursor:pointer;
    font-size: 25px;
    font-weight: 700;
    line-height: 44px;
    width: 50%;
}
.boton{
    text-align: center;
}
.formcontainer button:active{
    background-color: #001D2D;
    color: #FFFFFF;
}
.formcontainer button:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgb(173, 224, 245);
    transition: all 0.2s ease;
}
/************************** Footer ******************************/
footer {
    align-items: center;
    background-color: #00669F;
    color: #FFF9F9;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 51px;
    justify-content: space-between;
    padding-left: 5px;
    position: relative;
}

footer .git {
    position: absolute;
    right: 20px;
}

footer .git img {
    height: 20px;
}

footer .derechos {
    position: absolute;
    font-size: 0.8rem;
}

/**********************Media Queri****************************/
@media(min-width:460px) {
    footer {
        justify-content: center;
    }
}

@media(min-width:768px) {
    footer .git img {
        height: 25px;
    }
    footer .derechos {
        font-size: 1rem;
    }

}


